<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content"width=device-width, initial-scale=1.0">
    <meta hhtp-equiv="X-UA-Compatible" content="ie=edge">
    <title>File Upload Example</title>
    <style>
        body {
            margin: 0;
        }
        
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
    
</head>
<body>
   <a href="/">Home</a>
   <div class="center">
        <form method="POST"  enctype="multipart/form-data">
            <input type="file" name="filenamee" multiple="multiple">
            <button>Submit</button>
        </form>
    </div>
    {% block body %}
    {% endblock %}
</body>
</html>